services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ai_chat_mod
    ports:
      - 5132:5432
    volumes:
      - postgres:/var/lib/postgresql/data
    entrypoint:
      - bash
      - -c
      - |
        # Install pgvector
        apt-get update && apt-get install -y postgresql-16-pgvector && rm -rf /var/lib/apt/lists/*

        # Start Postgres in the background
        docker-entrypoint.sh postgres &

        # Wait for Postgres to be ready
        until pg_isready -h localhost -p 5432 -U postgres; do
          echo "Waiting for PostgreSQL..."
          sleep 2
        done

        echo "Postgres ready, creating pgvector extension..."
        psql -U postgres -c "CREATE DATABASE ai_chat_mod;"
        psql -U postgres -d ai_chat_mod -c "CREATE EXTENSION IF NOT EXISTS vector;"

        # Keep Postgres running
        wait -n

  kafka:
    image: apache/kafka:4.0.1
    hostname: broker
    ports:
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:29093
      KAFKA_LISTENERS: PLAINTEXT://broker:29092,CONTROLLER://broker:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
    volumes:
      - kafka:/var/lib/kafka/data

volumes:
  postgres:
  kafka: