services:
  traefik:
    image: traefik:v3.6
    command:
      - "--api.insecure=true"
      - "--providers.swarm=true"
      - "--providers.swarm.network=gova_network"
      - "--entrypoints.web.address=:80"
    ports:
      - 80:80
      - 8080:8080
    networks:
      - gova_network
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      placement:
        constraints:
          - node.role == manager # Swarm manager node

  postgres:
    image: postgres:18
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - 5432:5432
    networks:
      - gova_network
    volumes:
      - postgres:/var/lib/postgresql

  kafka:
    image: apache/kafka:4.0.1
    networks:
      - gova_network
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:29093
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,CONTROLLER://0.0.0.0:29093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk

  redis:
    image: redis:8
    ports:
      - 6379:6379
    networks:
      - gova_network
    volumes:
      - redis:/data
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]

  http_server:
    image: wifimemes/gova-backend
    ports:
      - 8000:8000
    networks:
      - gova_network
    command: http run
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.http_server.rule=Host(`api.gova.chat`)"
        - "traefik.http.routers.http_server.service=gova_stack_http_server"
        - "traefik.http.routers.http_server.entrypoints=web"
        - "traefik.http.services.gova_stack_http_server.loadbalancer.server.port=8000"
      update_config:
        parallelism: 1
        delay: 3s
        failure_action: rollback
        monitor: 10s
        order: start-first

  moderator_orchestrator:
    image: wifimemes/gova-backend
    networks:
      - gova_network
    command: orchestrator run

  event_handler:
    image: wifimemes/gova-backend
    networks:
      - gova_network
    command: event_handler run

  db_upgrade:
    image: wifimemes/gova-backend
    networks:
      - gova_network
    command: db upgrade

volumes:
  postgres:
  redis:

networks:
  gova_network:
    driver: overlay
    name: gova_network
    external: true
