name: Build image
on:
  push:
    branches:
      - main

jobs:
  build_image_job:
    name: build image
    permissions:
      contents: read
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Install UV
        uses: astral-sh/setup-uv@v7

      # - name: Docker login
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build image
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: bot-built
