name: Staging area
on:
  push:
    branches:
      - development

jobs:
  test_job:
    name: test
    permissions:
      contents: write
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install UV
        uses: astral-sh/setup-uv@v7

      - name: Run test
        run: uv run python -c "print('Hello world')"

      - name: Push upstream
        if: success()
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git fetch origin main
          git checkout development
          git push origin HEAD:main
